<!DOCTYPE html>
<html>
    <head>
        <title>PSC</title>
    </head>
    <body>
        <form action="/in" method="POST">
        Question<br>
        <input type="text" name="question" ><br>
        Option 1:<br>
        <input type="text" name="op1" ><br>
        Option 2:<br>
        <input type="text" name="op2" ><br>
        Option 3:<br>
        <input type="text" name="op3" ><br>
        Option 4:<br>
        <input type="text" name="op4" ><br>
        Answer:<br>
        <select name="answer">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
        </select><br><br>

        <input type="submit" value="Submit">
        </form>
            
        </form>
    </body>
</html>    